brace_brace	{a}{b}
brace_bare	{a}b
brace_bare_brace	{a}bc{d}
brace_quote	{a}"b"
brace_dollar	{a}$v
brace_cmdsub	{a}[list b]
brace_x3	{a}{b}{c}
brace_empty	{}{}
brace_multiword	{a b}{c d}
brace_nested	{a{b}}{c}
quote_brace	"a"{b}
quote_bare	"a"b
quote_quote	"a""b"
quote_dollar	"a"$v
bare_brace	a{b}
bare_brace_tail	a{b}c
cmdsub_brace	[list a]{b}
cmdsub_bare	[list a]b
dollar_brace	$v{b}
dollar_quote	$v"b"
subst_proof	{$v}$v
subst_proof2	{$v}{$v}
